/* Importing fonts and defining color and font variables */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital@1&display=swap');

:root {
  /* Color variables */
  --primary-color: #1C2331; /* Primary color */
  --secondary-color: #396E94; /* Secondary color */
  --accent1-color: #5BC0EB; /* Accent color 1 */
  --accent2-color: #084F30; /* Accent color 2 */

  /* Font variables */
  --heading-font: "Rock salt"; /* Font for headings */
  --paragraph-font: "Roboto", "Helvetica", sans-serif; /* Font for paragraphs */

  /* Text color variables for different backgrounds */
  --headline-color-on-white: #1C2331; /* Headline color on white background */ 
  --headline-color-on-color: #1C2331; /* Headline color on colored background */ 
  --paragraph-color-on-white: #1C2331; /* Paragraph text color on white background */ 
  --paragraph-color-on-color: #1C2331; /* Paragraph text color on colored background */ 
  --paragraph-background-color: #5BC0EB; /* Background color for paragraphs */
  --nav-link-color: #1C2331; /* Navigation link color */
  --nav-background-color: #396E94; /* Navigation background color */
  --nav-hover-link-color: #5BC0EB; /* Navigation hover link color */
  --nav-hover-background-color: #084F30; /* Navigation hover background color */
}

/* Look around below...but DON'T CHANGE ANYTHING! */

body {
  margin: 0;
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

h2 {
  margin: 0;
}

.home-title {
  font-size: 2em;
  margin-top: 10px;
}

.book,
.join {
  font-size: 18px;
  padding: 15px 30px;
}

.msg p {
  font-size: 0.8em;
}

.msg {
  line-height: 1.5em;
  padding: 35px;
}

#logo_link {
  padding-top: 5px;
}

nav a {
  padding: 35px;
}

.icon {
  padding-top: 10px;
}

.msg {
  padding: 35px;
}

.msg p {
  padding-bottom: 15px;
}

footer {
  padding: 25px 50px;
  margin-top: 200px;
}

footer .social img {
  padding-top: 15px;
}

.home-title {
  margin-top: 10px;
}

.book,
.join {
  border-radius: 5px;
}

.card-img {
  border: 10px solid #000;
}

main section img {
  box-sizing: border-box;
}